# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Стол раба\IKBO-10-19_fifth_semester\Тестирование и верификация программного обеспечения\Пр3\TestirovanieAndVerificationPr3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
